html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*******Global*******/
* {
  vertical-align: middle !important;
}

html {
  line-height: inherit;
}

a {
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
a img {
  border: none;
}
a:hover, a:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: none;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
textarea:focus {
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  outline: none;
}

button:focus {
  outline: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.clear {
  content: "";
  display: table;
  clear: both;
}

.container-fluid {
  padding-left: 15px;
  padding-right: 15px;
  overflow: hidden;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  padding-left: 15px;
  padding-right: 15px;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

.sprite {
  display: block;
  content: "";
}

.icons-sprite, .icons-add {
  background-image: url('../images/icons-s595ca2636c.png');
  background-repeat: no-repeat;
}

.icons-add {
  background-position: 0 0;
}

/*******Media Query*******/
/******** Colors **********/


/********* All Pages ********/
.mb15 {
  margin-bottom: 15px;
}

.form-group {
  margin-bottom: 20px;
}

.inp_border {
  position: relative;
}
.inp_border .inp_border_icon {
  position: absolute;
  right: 0;
  top: 0;
  width: 20px;
  height: 40px;
  line-height: 40px;
  text-align: center;
}
.inp_border .form-control {
  width: 100%;
  height: 40px;
  border: none;
  border-bottom: solid 1px #595959;
  color: #000;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  padding: 0 5px;
  background-color: transparent;
  position: relative;
  z-index: 1;
  font-size: 12px;
}
.inp_border .form-control.placeholder {
  color: #000;
  font-size: 12px;
}
.inp_border .form-control:-moz-placeholder {
  color: #000;
  font-size: 12px;
}
.inp_border .form-control::-moz-placeholder {
  color: #000;
  font-size: 12px;
}
.inp_border .form-control::-webkit-input-placeholder {
  color: #000;
  font-size: 12px;
}
.inp_border .form-control:focus ~ .placeholder {
  top: -20px;
  right: 0;
  padding: 0;
  color: #20ce70;
  z-index: 2;
  font-size: 10px;
}
.inp_border .form-control:focus ~ .line {
  width: 100%;
}
.inp_border textarea.form-control {
  height: 85px;
  resize: none;
  padding: 10px 0;
}
.inp_border .placeholder {
  font-size: 12px;
  color: #000;
  position: absolute;
  right: 5px;
  top: 0;
  display: flex;
  align-items: center;
  height: 35px;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.inp_border .line {
  display: block;
  width: 0;
  height: 2px;
  background-color: #20ce70;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 100;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.inp_border.visited .placeholder {
  top: -20px;
  right: 0;
  padding: 0;
  z-index: 2;
  font-size: 11px;
}

.btn {
  width: 100%;
  height: 45px;
  background-color: #20ce70;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #000;
  font-size: 16px;
  padding: 0 10px 3px 10px;
  font-family: "Iransans_Medium";
}
.btn:focus {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.register_txt {
  margin-top: 15px;
}
.register_txt p {
  font-family: "Iransans_Medium";
  font-size: 16px;
  color: #27ba89;
  text-align: center;
}
@media only screen and (max-width: 375px) {
  .register_txt p {
    font-size: 14px;
  }
}
@media only screen and (max-width: 320px) {
  .register_txt p {
    font-size: 12px;
  }
}
.register_txt p a {
  color: #20ce70;
  border-bottom: solid 1px #20ce70;
}

form .row {
  margin-left: -5px;
  margin-right: -5px;
}
form .row > div {
  padding-right: 5px;
  padding-left: 5px;
}

.button_btn {
  display: flex;
}
.button_btn .btn {
  width: auto;
}
.button_btn .btn.btn-r {
  -webkit-flex-grow: 1;
  flex-grow: 1;
  margin-left: 10px;
}
.button_btn .btn.btn-l {
  -webkit-flex-grow: 2;
  flex-grow: 2;
  margin-right: 10px;
}

.alert {
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  font-size: 9px;
  position: relative;
  padding-right: 10px;
}
.alert:before {
  display: block;
  content: "";
  width: 5px;
  height: 5px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  margin-top: -2.5px;
  right: 0;
  z-index: 10;
}
.alert.alert-warning {
  color: #e2241b;
  font-family: "Iransans_Medium";
}
.alert.alert-warning:before {
  background-color: #e2241b;
}

/********* Mainarea ********/
.mainarea {
  padding: 20px 0;
  font-size: 11px;
}

/******** sandoqha-list *******/
.box {
  position: relative;
  -moz-box-shadow: 0, 4px, 8px, rgba(15, 18, 17, 0.8);
  -webkit-box-shadow: 0, 4px, 8px, rgba(15, 18, 17, 0.8);
  box-shadow: 0, 4px, 8px, rgba(15, 18, 17, 0.8);
}
.box .box_top {
  padding: 25px 10px;
  border-bottom: solid 1px #F0F2F2;
  overflow: hidden;
  position: relative;
  background-color: #fff;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px;
  border-radius: 5px 5px 0 0;
}
.box .box_top .box_top_t {
  display: block;
  font-size: 16px;
  font-family: "Iransans_Bold";
  color: #595959;
}
.box .box_top .box_top_t img {
  margin-left: 5px;
}
.box .box_top .box_photo {
  position: absolute;
  left: -34px;
  top: 0;
}
.box .box_bottom {
  padding: 7px 10px;
  font-size: 13px;
  color: #A5ADAD;
  background-color: #fff;
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0;
  border-radius: 0 0 5px 5px;
  display: flex;
  justify-content: flex-end;
}
.box .box_bottom i {
  font-style: normal;
  color: #595959;
}
.box .box_bottom .see {
  font-family: "Iransans_Bold";
  font-size: 13px;
  color: #0f1211;
}
.box .box_bottom .see img {
  margin-right: 4px;
}

/******* sandoqha-detail *******/
.box_tab .nav-tabs {
  display: -webkit-flex;
  display: flex;
}
.box_tab .nav-tabs li {
  flex: 1 0 0;
}
.box_tab .nav-tabs li a {
  display: block;
  font-size: 14px;
  color: #a5adad;
  padding: 10px 0 5px 0;
  text-align: center;
  border-bottom: solid 1px #d8dada;
}
@media only screen and (max-width: 375px) {
  .box_tab .nav-tabs li a {
    font-size: 12px;
  }
}
.box_tab .nav-tabs li a.active {
  color: #20ce70;
  border-color: #20ce70;
  -webkit-background-image: linear-gradient(#ffffff 0%, #dafbf0 100%);
  -moz-background-image: linear-gradient(#ffffff 0%, #dafbf0 100%);
  -o-background-image: linear-gradient(#ffffff 0%, #dafbf0 100%);
  background-image: linear-gradient(#ffffff 0%, #dafbf0 100%);
}
.box_tab .tab-content {
  padding-top: 20px;
}

.back {
  -moz-box-shadow: 0, 4px, 8px, rgba(15, 18, 17, 0.8);
  -webkit-box-shadow: 0, 4px, 8px, rgba(15, 18, 17, 0.8);
  box-shadow: 0, 4px, 8px, rgba(15, 18, 17, 0.8);
  background-color: #fff;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.fund_detail > ul > li {
  padding: 20px 15px;
  border-bottom: solid 1px #ebeded;
}
.fund_detail > ul > li:last-child {
  border: none;
}
.fund_detail > ul > li .fund_detail_list ul li {
  display: -webkit-flex;
  display: flex;
  font-family: "Iransans_Medium";
  color: #595959;
  margin-bottom: 15px;
}
.fund_detail > ul > li .fund_detail_list ul li:last-child {
  margin-bottom: 0;
}
.fund_detail > ul > li .fund_detail_list ul li span {
  font-size: 14px;
  font-family: "Iransans";
  color: #27ba89;
  margin-right: auto;
  margin-top: -2px;
}
.fund_detail > ul > li .fund_detail_pp h3 {
  text-align: center;
  color: #27ba89;
  margin-bottom: 10px;
}
.fund_detail > ul > li .fund_detail_pp .fund_detail_pp--d {
  display: -webkit-flex;
  display: flex;
  align-items: center;
}
.fund_detail > ul > li .fund_detail_pp .fund_detail_pp--d .fund_detail_pp--sec {
  flex: 1;
}
.fund_detail > ul > li .fund_detail_pp .fund_detail_pp--d .fund_detail_pp--sec p {
  text-align: center;
  font-family: "Iransans_Medium";
  color: #595959;
}
.fund_detail > ul > li .fund_detail_pp .fund_detail_pp--d .fund_detail_pp--sec p.p_sec {
  font-size: 11px;
}
.fund_detail > ul > li .fund_detail_pp .fund_detail_pp--d .divider {
  width: 2px;
  height: 13px;
  background-color: #27ba89;
}
.fund_detail > ul > li .fund_detail_com {
  font-family: "Iransans_Medium";
  color: #595959;
  text-align: center;
}

.divider2 {
  width: 60%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.fund_modal {
  padding: 15px;
  color: #595959;
}
.fund_modal .fund_modal_t {
  font-size: 15px;
  font-family: "Iransans_Bold";
  margin-bottom: 10px;
}

/********** sandoqha-signup **********/
.register_form .inp_border .form-control {
  padding-right: 30px;
}
.register_form .inp_border .placeholder {
  right: 30px;
}

.register .register_top {
  background-color: #FFF4E6;
  padding: 15px;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px;
  border-radius: 5px 5px 0 0;
}
.register .register_top p {
  font-size: 14px;
  color: #595959;
  text-align: center;
  font-family: "Iransans_Medium";
}
@media only screen and (max-width: 375px) {
  .register .register_top p {
    font-size: 12px;
  }
}
.register .register_bottom {
  padding: 20px 15px;
}

/********** sandoqha-form **********/
.top_title {
  display: block;
  margin-bottom: 15px;
  font-family: 'Iransans_Bold';
  font-size: 13px;
  color: #595959;
}

.delete_photo {
  display: inline-block;
  margin-right: 10px;
  color: #e10000;
  height: 25px;
  line-height: 25px;
  text-align: center;
  background-color: rgba(225, 0, 0, 0.1);
  border: solid 1px #E10000;
  font-family: 'Iransans_Bold';
  padding: 0 12px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.upload_sec .upload_sec_t {
  display: block;
  color: #595959;
  margin-bottom: 15px;
}
.upload_sec .upload_sec_inp {
  display: inline-block;
  margin-bottom: 15px;
  font-family: "Iransans_Medium";
  color: #20ce70;
  background-color: rgba(32, 206, 112, 0.1);
  height: 25px;
  line-height: 25px;
  text-align: center;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: solid 1px #20ce70;
  position: relative;
  padding: 0 10px;
}
.upload_sec .upload_sec_inp img {
  margin-left: 5px;
}
.upload_sec .upload_sec_inp input {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  font-size: 0;
  background-color: transparent;
  border: none;
  padding: 0;
  opacity: 0;
  cursor: pointer;
}
